Repository darosio/ClopHfit: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-yaml, check-toml, black, flake8, pyupgrade

check-yaml:
  name: Check Yaml
  entry: check-yaml
  language: system

check-toml:
  name: Check Toml
  entry: check-toml
  language: system

black:
  name: black
  entry: black
  language: system
  require_serial: true

flake8:
  name: flake8
  entry: flake8
  language: system
  require_serial: true
  args:
  - --darglint-ignore-regex
  - .*

pyupgrade:
  name: pyupgrade
  description: Automatically upgrade syntax for newer versions.
  entry: pyupgrade
  language: system
  args:
  - --py37-plus

refactor: use lb.data_normalized
  src/clophfit/prtecan.py
  tests/test_prtecan.py
Due: black, flake8, pyupgrade

refactor: tests and Lb with data_norm _bgsubstracted
  src/clophfit/prtecan.py
  tests/Tecan/exceptions/84wells_290212_20.xlsx
  tests/Tecan/exceptions/88wells_290212_20.xlsx
  tests/Tecan/pH5.1_130913a-orig.xls
  tests/test_prtecan.py
Due: black, flake8, pyupgrade

docs: completed
  docs/api/api.rst
  docs/api/prtecan.uml.rst
  docs/conf.py
  src/clophfit/prtecan.py
Due: black, flake8, pyupgrade

fix: Titration(str|Path)
  src/clophfit/prtecan.py
Due: black, flake8, pyupgrade

refactor: tit and titan .data can be None -> many type ignore required
  src/clophfit/__main__.py
  src/clophfit/prtecan.py
  tests/test_prtecan.py
Due: black, flake8, pyupgrade

docs[tests]: fix xdoctest and update docs
  .github/workflows/tests.yml
  docs/api/api.rst
  src/clophfit/prtecan.py
Due: check-yaml, black, flake8, pyupgrade

test: fix win?
  .github/workflows/tests.yml
  tests/test_oldscripts.py
Due: check-yaml, black, flake8, pyupgrade

fix: try again to fix win tests
  tests/test_oldscripts.py
  tests/test_prtecan.py
Due: black, flake8, pyupgrade

fix: dataclass slots works only in py3.10
  docs/api/api.rst
  src/clophfit/prtecan.py
Due: black, flake8, pyupgrade

refactor: Labelblock is created by a list-of-lines (no need for a Tecanfile)
  src/clophfit/prtecan.py
  tests/test_prtecan.py
Due: black, flake8, pyupgrade

tests: Over value test refactored
  src/clophfit/prtecan.py
  tests/Tecan/exceptions/0_Labelblocks_290513_5.5.xlsx
  tests/Tecan/exceptions/290212_7.67_repeated_lb.xls
  tests/test_prtecan.py
Due: black, flake8, pyupgrade

fix: try again to fix win tests
  .github/workflows/tests.yml
  tests/test_prtecan.py
Due: check-yaml, black, flake8, pyupgrade

docs: improve
  docs/api/prtecan.uml.rst
  tests/test_prtecan.py
Due: black, flake8, pyupgrade

docs: improvements
  .flake8
  docs/api/api.rst
  docs/api/prtecan.uml.rst
  docs/conf.py
  src/clophfit/prtecan.py
Due: black, flake8, pyupgrade

docs: update uml
  docs/api/api.rst
  docs/api/prtecan.uml.rst
  src/clophfit/prtecan.py
Due: black, flake8, pyupgrade

fix: test in win
  tests/test_prtecan.py
Due: black, flake8, pyupgrade

bui updated
  CHANGELOG.md
  poetry.lock
Due: none

test: win
  tests/test_oldscripts.py
Due: black, flake8, pyupgrade

test: win
  .github/workflows/tests.yml
  tests/test_oldscripts.py
Due: check-yaml, black, flake8, pyupgrade

win test
  src/clophfit/prtecan.py
  tests/test_oldscripts.py
Due: black, flake8, pyupgrade

a further test
  .flake8
  tests/test_oldscripts.py
Due: black, flake8, pyupgrade

refactor: avoid code introspection
  .flake8
  src/clophfit/prtecan.py
  tests/test_oldscripts.py
Due: black, flake8, pyupgrade

reset old scripts test
  tests/test_oldscripts.py
Due: black, flake8, pyupgrade

refactoring completing docs
  .github/workflows/tests.yml
  tests/test_prtecan.py
Due: check-yaml, black, flake8, pyupgrade

build: update deps
  poetry.lock
Due: none

refactor: completing attribute initialization with None rather than field…
  docs/api/prtecan.uml.rst
  src/clophfit/prtecan.py
  tests/test_prtecan.py
Due: black, flake8, pyupgrade

refactor: dataclass inheritance instead of init=False
  src/clophfit/prtecan.py
Due: black, flake8, pyupgrade

refactor: buffer_wells set to components; accurate None or {}; add load_additions
  docs/api/prtecan.uml.rst
  src/clophfit/prtecan.py
  tests/test_prtecan.py
Due: black, flake8, pyupgrade

refactor: TitrationAnalysis derived from Titration
  docs/api/prtecan.uml.rst
  src/clophfit/__main__.py
  src/clophfit/prtecan.py
  tests/test_prtecan.py
Due: black, flake8, pyupgrade

refactor: add PlateScheme
  src/clophfit/__main__.py
  src/clophfit/prtecan.py
  tests/test_prtecan.py
Due: black, flake8, pyupgrade

refactor: export all data shortened tests and renaming
  src/clophfit/__main__.py
  src/clophfit/prtecan.py
  tests/test_prtecan.py
Due: black, flake8, pyupgrade

refactor: datafit design
  src/clophfit/__main__.py
  src/clophfit/prtecan.py
  tests/test_prtecan.py
Due: black, flake8, pyupgrade

refactor: fit all with plotting of corresponding datafit
  src/clophfit/__main__.py
  src/clophfit/prtecan.py
  tests/test_prtecan.py
Due: black, flake8, pyupgrade

fix: some args of fit_routine can be None
  src/clophfit/__main__.py
Due: black, flake8, pyupgrade

for releasing
  CHANGELOG.md
  docs/README.md
  docs/conf.py
  pyproject.toml
  src/clophfit/prtecan.py
Due: check-toml, black, flake8, pyupgrade

Export and fit with bg, dil and norm corrections
  .flake8
  .github/workflows/tests.yml
  CHANGELOG.md
  docs/README.md
  docs/api/api.rst
  docs/api/prtecan.uml.rst
  docs/conf.py
  docs/index.rst
  docs/requirements.txt
  noxfile.py
  poetry.lock
  pyproject.toml
  src/clophfit/__main__.py
  src/clophfit/prtecan.py
  tests/Tecan/exceptions/0_Labelblocks_290513_5.5.xlsx
  tests/Tecan/exceptions/290212_7.67_repeated_lb.xls
  tests/Tecan/exceptions/84wells_290212_20.xlsx
  tests/Tecan/exceptions/88wells_290212_20.xlsx
  tests/Tecan/pH5.1_130913a-orig.xls
  tests/test_cli.py
  tests/test_oldscripts.py
  tests/test_prtecan.py
Due: check-yaml, check-toml, black, flake8, pyupgrade

fix: docs build and update deps
  .github/workflows/constraints.txt
  docs/api/prtecan.uml.rst
  docs/requirements.txt
  poetry.lock
  pyproject.toml
Due: check-toml

for releasing
  CHANGELOG.md
  docs/README.md
  docs/conf.py
  pyproject.toml
Due: check-toml, black, flake8, pyupgrade

fix clean (#45)
  .github/workflows/constraints.txt
  CHANGELOG.md
  docs/README.md
  docs/api/prtecan.uml.rst
  docs/conf.py
  docs/requirements.txt
  poetry.lock
  pyproject.toml
Due: check-toml, black, flake8, pyupgrade

Create pages.yml Fix missing plantuml
  .github/workflows/pages.yml
  .github/workflows/tests.yml
Due: check-yaml

Path conditions:
  check-yaml: any of: \.(yaml|yml)$, but not: ^src/clophfit/old/.
  check-toml: any of: \.toml$, but not: ^src/clophfit/old/.
  black: any of: \.py$, but not: ^src/clophfit/old/.
  flake8: any of: \.py$, but not: ^src/clophfit/old/.
  pyupgrade: any of: \.py$, but not: ^src/clophfit/old/.
