Repository darosio/ClopHfit: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-yaml, check-toml, black, flake8, pyupgrade

check-yaml:
  name: Check Yaml
  entry: check-yaml
  language: system

check-toml:
  name: Check Toml
  entry: check-toml
  language: system

black:
  name: black
  entry: black
  language: system
  require_serial: true

flake8:
  name: flake8
  entry: flake8
  language: system
  require_serial: true
  args:
  - --darglint-ignore-regex
  - .*

pyupgrade:
  name: pyupgrade
  description: Automatically upgrade syntax for newer versions.
  entry: pyupgrade
  language: system
  args:
  - --py37-plus

need further updates
  pyproject.toml
Due: check-toml

build: try lmfit update to 1.1.0
  poetry.lock
  src/clophfit/old/fit_titration_global.py
Due: none

ci: pdm in place of poetry
  .flake8
  .github/workflows/ci.yml
  .github/workflows/constraints.txt
  .github/workflows/docs.yml
  .github/workflows/release.yml
  .github/workflows/tests.yml
  .gitignore
  .pre-commit-config.yaml
  .python-version
  .readthedocs.yml
  CHANGELOG.md
  CONTRIBUTING.md
  CONTRIBUTING.rst
  constraints.txt
  docs/README.md
  docs/requirements.txt
  noxfile.py
  pdm.lock
  poetry.lock
  pyproject.toml
  src/clophfit/__init__.py
  tests/test_oldscripts.py
  tests/test_prtecan.py
Due: check-yaml, check-toml, black, flake8, pyupgrade

bump: 0.3.12
  CHANGELOG.md
  docs/README.md
  docs/conf.py
  pyproject.toml
Due: check-toml, black, flake8, pyupgrade

poetrying (#57)
  .flake8
  .github/workflows/ci.yml
  .github/workflows/constraints.txt
  .github/workflows/docs.yml
  .github/workflows/release.yml
  .github/workflows/tests.yml
  .gitignore
  .pre-commit-config.yaml
  .python-version
  .readthedocs.yml
  CHANGELOG.md
  CONTRIBUTING.md
  CONTRIBUTING.rst
  constraints.txt
  docs/README.md
  docs/conf.py
  docs/requirements.txt
  noxfile.py
  pdm.lock
  poetry.lock
  pyproject.toml
  src/clophfit/__init__.py
  tests/test_oldscripts.py
  tests/test_prtecan.py
Due: check-yaml, check-toml, black, flake8, pyupgrade

ci: test pages
  .github/workflows/docs.yml
  .github/workflows/pages.yml
  .github/workflows/release.yml
  docs/README.md
Due: check-yaml

ci: test pages 2
  .github/workflows/docs.yml
Due: check-yaml

ci: test pages 3
  .github/workflows/pages.yml
Due: check-yaml

ci: test pages 4
  .github/workflows/docs.yml
  docs/README.md
Due: check-yaml

ci: test pages 5
  .github/workflows/ci.yml
  .github/workflows/docs.yml
Due: check-yaml

ci: test pages 6
  .github/workflows/ci.yml
  .github/workflows/docs.yml
Due: check-yaml

ci: test cleaning workflows
  .github/workflows/ci.yml
  .github/workflows/docs.yml
  .github/workflows/pages.yml
  .github/workflows/release.yml
  docs/README.md
Due: check-yaml

style: prettify .yml and .md files
  .github/workflows/ci.yml
  .github/workflows/constraints.txt
  .github/workflows/docs.yml
  .github/workflows/pages.yml
  .pre-commit-config.yaml
  CHANGELOG.md
  CONTRIBUTING.md
  docs/README.md
Due: check-yaml

build(pre-commit): autoupdate prettier isort cz pdm shellcheck
  .pre-commit-config.yaml
Due: check-yaml

build(cz): to bump and generate changelog
  .pre-commit-config.yaml
  cz_customize_info.txt
  noxfile.py
  pyproject.toml
  tests/conftest.py
Due: check-yaml, check-toml, black, flake8, pyupgrade

build(deps): pdm update
  .github/workflows/ci.yml
  .github/workflows/constraints.txt
  .pre-commit-config.yaml
  .python-version
  constraints.txt
  noxfile.py
  pdm.lock
  pyproject.toml
  tests/test_binding.py
Due: check-yaml, check-toml, black, flake8, pyupgrade

ci: automating CD
  .github/workflows/cd.yml
  .github/workflows/ci.yml
  .github/workflows/release.yml
  noxfile.py
  pyproject.toml
Due: check-yaml, check-toml, black, flake8, pyupgrade

bump: version 0.3.12 → 0.3.13
  CHANGELOG.md
  docs/README.md
  docs/conf.py
  pyproject.toml
Due: check-toml, black, flake8, pyupgrade

update (#63)
  .github/workflows/cd.yml
  .github/workflows/ci.yml
  .github/workflows/constraints.txt
  .github/workflows/docs.yml
  .github/workflows/pages.yml
  .github/workflows/release.yml
  .pre-commit-config.yaml
  .python-version
  CHANGELOG.md
  CONTRIBUTING.md
  constraints.txt
  cz_customize_info.txt
  docs/README.md
  docs/conf.py
  noxfile.py
  pdm.lock
  pyproject.toml
  tests/conftest.py
  tests/test_binding.py
Due: check-yaml, check-toml, black, flake8, pyupgrade

ci: add commitizen action
  .github/workflows/bump.yml
Due: check-yaml

ci: fix CD
  .github/workflows/cd.yml
  pyproject.toml
Due: check-yaml, check-toml

bump: version 0.3.13 → 0.3.14
  CHANGELOG.md
  docs/README.md
  docs/conf.py
  pyproject.toml
Due: check-toml, black, flake8, pyupgrade

bump(python): update to 3.11
  .python-version
  noxfile.py
  src/clophfit/prtecan.py
Due: black, flake8, pyupgrade

bump(python): update to 3.11 try 2
  .github/workflows/ci.yml
  constraints.txt
Due: check-yaml

chore: fix linting
  noxfile.py
Due: black, flake8, pyupgrade

chore: fix linting try 2
  .github/workflows/ci.yml
Due: check-yaml

chore: fix linting try 3
  .github/workflows/ci.yml
  constraints.txt
  noxfile.py
Due: check-yaml, black, flake8, pyupgrade

bump(python): include py3.11
  .github/workflows/ci.yml
  .python-version
  noxfile.py
  src/clophfit/prtecan.py
Due: check-yaml, black, flake8, pyupgrade

refactor: follow pylint
  .gitignore
  src/clophfit/__main__.py
  src/clophfit/prtecan.py
Due: black, flake8, pyupgrade

refactor: listoflines lookup
  src/clophfit/__main__.py
  src/clophfit/prtecan.py
  tests/test_prtecan.py
Due: black, flake8, pyupgrade

chore: (attribute-defined-outside-init)
  src/clophfit/prtecan.py
Due: black, flake8, pyupgrade

refactor: src
  constraints.txt
  src/clophfit/prtecan.py
Due: black, flake8, pyupgrade

fix: lint with 3.10 avoid removal of tomli and exceptiongroup deps
  .github/workflows/ci.yml
Due: check-yaml

refactor: pylint tests
  pyproject.toml
  src/clophfit/__main__.py
  tests/test_oldscripts.py
  tests/test_prtecan.py
Due: check-toml, black, flake8, pyupgrade

refactor: pylint tests 10/10
  src/clophfit/prtecan.py
  tests/test_prtecan.py
Due: black, flake8, pyupgrade

style: rename a test function
  tests/test_prtecan.py
Due: black, flake8, pyupgrade

test: refactoring too complex fixtures
  pyproject.toml
  tests/test_prtecan.py
Due: check-toml, black, flake8, pyupgrade

test: refactor too complex fixtures
  tests/test_prtecan.py
Due: black, flake8, pyupgrade

refactor: tests and src for pylint
  .github/workflows/ci.yml
  .gitignore
  constraints.txt
  pyproject.toml
  src/clophfit/__main__.py
  src/clophfit/prtecan.py
  tests/test_oldscripts.py
  tests/test_prtecan.py
Due: check-yaml, check-toml, black, flake8, pyupgrade

Path conditions:
  check-yaml: any of: \.(yaml|yml)$, but not: ^src/clophfit/old/.
  check-toml: any of: \.toml$, but not: ^src/clophfit/old/.
  black: any of: \.py$, but not: ^src/clophfit/old/.
  flake8: any of: \.py$, but not: ^src/clophfit/old/.
  pyupgrade: any of: \.py$, but not: ^src/clophfit/old/.
