Repository darosio/ClopHfit: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-yaml, check-toml, black, flake8, pyupgrade

check-yaml:
  name: Check Yaml
  entry: check-yaml
  language: system

check-toml:
  name: Check Toml
  entry: check-toml
  language: system

black:
  name: black
  entry: black
  language: system
  require_serial: true

flake8:
  name: flake8
  entry: flake8
  language: system
  require_serial: true
  args:
  - --darglint-ignore-regex
  - .*

pyupgrade:
  name: pyupgrade
  description: Automatically upgrade syntax for newer versions.
  entry: pyupgrade
  language: system
  args:
  - --py37-plus

refactor(py3.11): include py3.11 in supported versions
  .github/workflows/ci.yml
  .python-version
  noxfile.py
  src/clophfit/prtecan.py
Due: check-yaml, black, flake8, pyupgrade

refactor: tests and src for pylint
  .github/workflows/ci.yml
  .gitignore
  constraints.txt
  pyproject.toml
  src/clophfit/__main__.py
  src/clophfit/prtecan.py
  tests/test_oldscripts.py
  tests/test_prtecan.py
Due: check-yaml, check-toml, black, flake8, pyupgrade

bump: version 0.3.14 → 0.3.15
  CHANGELOG.md
  docs/README.md
  docs/conf.py
  pyproject.toml
Due: check-toml, black, flake8, pyupgrade

style: correct few typos
  .codespellrc
  .pre-commit-config.yaml
  .python-version
  CHANGELOG.md
  docs/README.md
  noxfile.py
  src/clophfit/__main__.py
  src/clophfit/prtecan.py
Due: check-yaml, black, flake8, pyupgrade

fix: clop --version after click updates
  src/clophfit/__main__.py
Due: black, flake8, pyupgrade

style: correct few typos (#69)
  .codespellrc
  .pre-commit-config.yaml
  .python-version
  CHANGELOG.md
  docs/README.md
  noxfile.py
  src/clophfit/__main__.py
  src/clophfit/prtecan.py
Due: check-yaml, black, flake8, pyupgrade

fix: clop --version after click updates (#68)
  .python-version
  src/clophfit/__main__.py
Due: black, flake8, pyupgrade

bump: version 0.3.15 → 0.3.16
  CHANGELOG.md
  docs/README.md
  docs/conf.py
  pyproject.toml
Due: check-toml, black, flake8, pyupgrade

Update dependabot.yml
  .github/dependabot.yml
Due: check-yaml

Update dependabot.yml (#70)
  .github/dependabot.yml
Due: check-yaml

chore: figuring out best deps maintenance
  .github/dependabot.yml
Due: check-yaml

build: autoupdate pre-commit update deps
  .github/dependabot.yml
  .github/workflows/constraints.txt
  .pre-commit-config.yaml
  .python-version
  constraints.txt
  noxfile.py
  pdm.lock
Due: check-yaml, black, flake8, pyupgrade

build: update deps for [docs]
  constraints.txt
  pdm.lock
Due: none

build: update deps for [dev]
  constraints.txt
  pdm.lock
Due: none

chore: try fixing dependabot production deps
  .github/dependabot.yml
Due: check-yaml

style: better pyproject deps
  .github/dependabot.yml
  pyproject.toml
Due: check-yaml, check-toml

style: pyproject deps
  .github/dependabot.yml
  pyproject.toml
Due: check-yaml, check-toml

build: update deps for [tests]
  constraints.txt
  pdm.lock
Due: none

fix: mypy after updates
  src/clophfit/prtecan.py
Due: black, flake8, pyupgrade

build(ci): dropped nox and pdm in favor of hatch
  .github/dependabot.yml
  .github/workflows/cd.yml
  .github/workflows/ci.yml
  .github/workflows/constraints.txt
  .github/workflows/docs.yml
  .gitignore
  .pre-commit-config.yaml
  .python-version
  constraints.txt
  noxfile.py
  pdm.lock
  pyproject.toml
  requirements-dev.txt
  requirements-docs.txt
  requirements-tests.txt
  requirements.txt
Due: check-yaml, check-toml, black, flake8, pyupgrade

build(ci): dropped nox and pdm in favor of hatch (#141)
  .github/dependabot.yml
  .github/workflows/cd.yml
  .github/workflows/ci.yml
  .github/workflows/constraints.txt
  .github/workflows/docs.yml
  .gitignore
  .pre-commit-config.yaml
  .python-version
  constraints.txt
  noxfile.py
  pdm.lock
  pyproject.toml
  requirements-dev.txt
  requirements-docs.txt
  requirements-tests.txt
  requirements.txt
Due: check-yaml, check-toml, black, flake8, pyupgrade

style: pyproject deps and updates
  .github/dependabot.yml
  .github/workflows/constraints.txt
  .pre-commit-config.yaml
  .python-version
  constraints.txt
  noxfile.py
  pdm.lock
  pyproject.toml
Due: check-yaml, check-toml, black, flake8, pyupgrade

fix: mypy after updates
  constraints.txt
  pdm.lock
  src/clophfit/prtecan.py
Due: black, flake8, pyupgrade

build(commitizen): pre-commit autoupdate
  .pre-commit-config.yaml
Due: check-yaml

bump: version 0.3.16 → 0.3.17
  CHANGELOG.md
  docs/README.md
  docs/conf.py
  pyproject.toml
Due: check-toml, black, flake8, pyupgrade

ci: fix CD publish
  .github/workflows/cd.yml
Due: check-yaml

bump: version 0.3.17 → 0.3.18
  CHANGELOG.md
  docs/README.md
  docs/conf.py
  pyproject.toml
Due: check-toml, black, flake8, pyupgrade

fix: build and rtd
  .pre-commit-config.yaml
  docs/requirements.txt
Due: check-yaml

bump: version 0.3.18 → 0.3.19
  CHANGELOG.md
  docs/README.md
  docs/conf.py
  pyproject.toml
Due: check-toml, black, flake8, pyupgrade

ci: fix rtd and sudden lint failing isort installation
  .github/workflows/ci.yml
  .github/workflows/docs.yml
  .pre-commit-config.yaml
  .readthedocs.yml
  pyproject.toml
Due: check-yaml, check-toml

bump: version 0.3.19 → 0.3.20
  CHANGELOG.md
  docs/README.md
  docs/conf.py
  pyproject.toml
Due: check-toml, black, flake8, pyupgrade

build: introduce a section in pyproject
  .flake8
  .pre-commit-config.yaml
  docs/conf.py
  pyproject.toml
  src/clophfit/prtecan.py
  tests/test_oldscripts.py
  tests/test_prtecan.py
Due: check-yaml, check-toml, black, flake8, pyupgrade

refactor: eradicate and "SIM"plify
  pyproject.toml
  src/clophfit/prtecan.py
  tests/test_prtecan.py
Due: check-toml, black, flake8, pyupgrade

refactor: improve ANNotation
  .pre-commit-config.yaml
  pyproject.toml
  tests/test_cli.py
  tests/test_oldscripts.py
  tests/test_prtecan.py
Due: check-yaml, check-toml, black, flake8, pyupgrade

refactor: improve error-exception messages-definitions
  pyproject.toml
  src/clophfit/prtecan.py
Due: check-toml, black, flake8, pyupgrade

refactor: opinionated pd, str-concatenation and fix exception
  pyproject.toml
  src/clophfit/prtecan.py
  tests/test_oldscripts.py
  tests/test_prtecan.py
Due: check-toml, black, flake8, pyupgrade

refactor: use pathlib
  docs/conf.py
  pyproject.toml
  src/clophfit/__main__.py
Due: check-toml, black, flake8, pyupgrade

fix: contributing doc
  .github/workflows/ci.yml
  .github/workflows/docs.yml
  docs/conf.py
  docs/misc/CONTRIBUTING.md
  docs/misc/contributing.rst
  docs/misc/misc.rst
  pyproject.toml
Due: check-yaml, check-toml, black, flake8, pyupgrade

build: speedup hatch locally and adjust CI
  .github/workflows/ci.yml
  pyproject.toml
Due: check-yaml, check-toml

Path conditions:
  check-yaml: any of: \.(yaml|yml)$, but not: ^src/clophfit/old/.
  check-toml: any of: \.toml$, but not: ^src/clophfit/old/.
  black: any of: \.py$, but not: ^src/clophfit/old/.
  flake8: any of: \.py$, but not: ^src/clophfit/old/.
  pyupgrade: any of: \.py$, but not: ^src/clophfit/old/.
