Repository darosio/ClopHfit: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-yaml, check-toml, black, flake8, pyupgrade

check-yaml:
  name: Check Yaml
  entry: check-yaml
  language: system

check-toml:
  name: Check Toml
  entry: check-toml
  language: system

black:
  name: black
  entry: black
  language: system
  require_serial: true

flake8:
  name: flake8
  entry: flake8
  language: system
  require_serial: true
  args:
  - --darglint-ignore-regex
  - .*

pyupgrade:
  name: pyupgrade
  description: Automatically upgrade syntax for newer versions.
  entry: pyupgrade
  language: system
  args:
  - --py37-plus

fix: pr.tecan
  .flake8
  src/clophfit/__main__.py
  src/clophfit/prtecan.py
  tests/test_cli.py
  tests/test_oldscripts.py
  tests/test_prtecan.py
Due: black, flake8, pyupgrade

fix: test removing os.chdir()
  tests/test_cli.py
  tests/test_oldscripts.py
Due: black, flake8, pyupgrade

fix: Path and str are mixing yet is it fixed
  src/clophfit/prtecan.py
Due: black, flake8, pyupgrade

fix: regressed to str in call from __main__
  src/clophfit/__main__.py
  src/clophfit/prtecan.py
Due: black, flake8, pyupgrade

fix: avoid ttff and os.path AMAP
  .github/workflows/tests.yml
  tests/test_prtecan.py
Due: check-yaml, black, flake8, pyupgrade

ci: ready for pr
  CHANGELOG.md
  docs/README.md
  docs/conf.py
  pyproject.toml
Due: check-toml, black, flake8, pyupgrade

fix: prtecan cli
  .flake8
  .github/workflows/tests.yml
  CHANGELOG.md
  docs/README.md
  docs/conf.py
  pyproject.toml
  src/clophfit/__main__.py
  src/clophfit/prtecan.py
  tests/test_cli.py
  tests/test_oldscripts.py
  tests/test_prtecan.py
Due: check-yaml, check-toml, black, flake8, pyupgrade

fix: xlrd issue
  noxfile.py
  poetry.lock
  pyproject.toml
  src/clophfit/__main__.py
Due: check-toml, black, flake8, pyupgrade

fix: missing xlrd
  CHANGELOG.md
  docs/README.md
  docs/conf.py
  noxfile.py
  pyproject.toml
Due: check-toml, black, flake8, pyupgrade

fix missing xlrd
  CHANGELOG.md
  docs/README.md
  docs/conf.py
  noxfile.py
  poetry.lock
  pyproject.toml
  src/clophfit/__main__.py
Due: check-toml, black, flake8, pyupgrade

fix: temperatures and buffer lblg attributes
  docs/api/api.rst
  docs/tutorials/prtecan.ipynb
  src/clophfit/prtecan.py
Due: black, flake8, pyupgrade

refactor: __hash__ definition is provided by dataclass
  src/clophfit/prtecan.py
  tests/test_prtecan.py
Due: black, flake8, pyupgrade

refactor: wip
  src/clophfit/prtecan.py
Due: black, flake8, pyupgrade

refactor: TecanfilesGroup initialized from a list of Tf
  src/clophfit/prtecan.py
  tests/test_prtecan.py
Due: black, flake8, pyupgrade

refactor: better TfG with complete test
  src/clophfit/prtecan.py
  tests/Tecan/290212_7.67_repeated_lb.xls
  tests/Tecan/290513_5.5_bad.xls
  tests/Tecan/290513_7.2.xls
  tests/Tecan/290513_8.8.xls
  tests/test_prtecan.py
Due: black, flake8, pyupgrade

refactor: completed better LbG metadata
  src/clophfit/prtecan.py
  tests/test_prtecan.py
Due: black, flake8, pyupgrade

refactor: removed temperatures attribute; it was a dup of mdata
  src/clophfit/prtecan.py
  tests/test_prtecan.py
Due: black, flake8, pyupgrade

refactor: complete removal of os in favor of Path
  src/clophfit/__main__.py
  src/clophfit/prtecan.py
  tests/test_prtecan.py
Due: black, flake8, pyupgrade

feat: prototyped normalizedlabelblock
  src/clophfit/prtecan.py
Due: black, flake8, pyupgrade

ci: better coverage better tests
  .coveragerc
  docs/api/api.rst
  noxfile.py
  pyproject.toml
  src/clophfit/prtecan.py
  tests/test_prtecan.py
Due: check-toml, black, flake8, pyupgrade

ci: codecov
  .github/workflows/tests.yml
  docs/README.md
Due: check-yaml

ci: badge
  docs/README.md
Due: none

ci: better coverage and tests
  docs/README.md
  pyproject.toml
  tests/test_cli.py
  tests/test_oldscripts.py
  tests/test_prtecan.py
Due: check-toml, black, flake8, pyupgrade

bump: version 0.3.8 → 0.3.9
  CHANGELOG.md
  docs/README.md
  docs/conf.py
  noxfile.py
  pyproject.toml
Due: check-toml, black, flake8, pyupgrade

improved classes tests and coverage
  .coveragerc
  .github/workflows/tests.yml
  CHANGELOG.md
  docs/README.md
  docs/api/api.rst
  docs/conf.py
  docs/tutorials/prtecan.ipynb
  noxfile.py
  pyproject.toml
  src/clophfit/__main__.py
  src/clophfit/prtecan.py
  tests/Tecan/290212_7.67_repeated_lb.xls
  tests/Tecan/290513_5.5_bad.xls
  tests/Tecan/290513_7.2.xls
  tests/Tecan/290513_8.8.xls
  tests/test_cli.py
  tests/test_oldscripts.py
  tests/test_prtecan.py
Due: check-yaml, check-toml, black, flake8, pyupgrade

ci: add dependabot
  .github/dependabot.yml
Due: check-yaml

build(deps):
  CHANGELOG.md
Due: none

build(deps): poetry pandas seaborn...
  .github/workflows/constraints.txt
  .github/workflows/release.yml
  .github/workflows/tests.yml
  CHANGELOG.md
  poetry.lock
Due: check-yaml

fix: temperatures and lblg attributes and dependabots
  .github/workflows/tests.yml
  docs/requirements.txt
  noxfile.py
  pyproject.toml
  src/clophfit/prtecan.py
  tests/test_prtecan.py
Due: check-yaml, check-toml, black, flake8, pyupgrade

fix: xdoctest and [docs]
  docs/api/api.rst
  docs/api/prtecan.uml.rst
  docs/conf.py
  noxfile.py
  src/clophfit/prtecan.py
Due: black, flake8, pyupgrade

refactor: up to titrationAnalysis
  docs/api/prtecan.uml.rst
  src/clophfit/__main__.py
  src/clophfit/prtecan.py
  tests/test_prtecan.py
Due: black, flake8, pyupgrade

refactor: think to LabelblockList(OrderedList)
  src/clophfit/prtecan.py
Due: black, flake8, pyupgrade

test: fix win?
  tests/test_prtecan.py
Due: black, flake8, pyupgrade

refactor: Tf cls methods into module functions
  src/clophfit/prtecan.py
  tests/test_prtecan.py
Due: black, flake8, pyupgrade

refactor: slots and InitVar for lines in Labelblock
  src/clophfit/prtecan.py
Due: black, flake8, pyupgrade

refactor: up to titration
  docs/api/api.rst
  docs/api/prtecan.uml.rst
  src/clophfit/prtecan.py
  tests/test_prtecan.py
Due: black, flake8, pyupgrade

refactor: map filter for md extraction
  src/clophfit/prtecan.py
  tests/test_prtecan.py
Due: black, flake8, pyupgrade

refactor: remember to substitute and remove NormalizedLabelblock
  docs/api/api.rst
  docs/conf.py
  docs/index.rst
  src/clophfit/prtecan.py
  tests/test_prtecan.py
Due: black, flake8, pyupgrade

refactor: brilliant idea to use dataclass for metadata
  src/clophfit/prtecan.py
  tests/test_cli.py
  tests/test_prtecan.py
Due: black, flake8, pyupgrade

Path conditions:
  check-yaml: any of: \.(yaml|yml)$, but not: ^src/clophfit/old/.
  check-toml: any of: \.toml$, but not: ^src/clophfit/old/.
  black: any of: \.py$, but not: ^src/clophfit/old/.
  flake8: any of: \.py$, but not: ^src/clophfit/old/.
  pyupgrade: any of: \.py$, but not: ^src/clophfit/old/.
